@font-face {
  font-family: 'Personified UX';
  src: url(./fonts/PersonifiedUXRegular.ttf) format('truetype');
}

html, body {
  margin: 0;
  font-family: 'Personified UX', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  position: relative;
  overflow: hidden;
}

body:before {
  content: "";
  position: absolute;
  top: -105%;
  left: -35%;
  width: 200%;
  height: 255%;
  background-image:
    linear-gradient(135deg, transparent 0%, transparent 25%, #a40000 55%, #a40000 100%),
    radial-gradient(black 0.25rem, #a40000 0.25rem);
  background-size: cover, 1rem 1rem, 1rem 1rem;
  background-position: center, 0 0;
  background-repeat: repeat;
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
